

<ion-app>
  

  <ion-content fullscreen class="svcf_page">
    <section class="logo_sec" id="svcf_login">
      <img class="logo" src="../../../assets/images/logo.png" />
      <ion-text>
        <h4>Sign in</h4>
      </ion-text>
    </section>

    <ion-card class="card_bg">
      <ion-card-content fullscreen>
        <form [formGroup]="loginForm" (ngSubmit)="login_values(loginForm.value)" autocomplete="off"
          >
          <ion-list>
            <ion-item>
              <ion-label position="stacked">Username</ion-label>
              <ion-input formControlName="username" (keypress)="CheckSpace($event)" type="text"
                placeholder="Enter username"></ion-input>
              <ion-icon name="person-outline" slot="end"></ion-icon>
            </ion-item>
            <ion-item>
              <ion-label position="stacked">Password</ion-label>
              <ion-input formControlName="password" (keypress)="CheckSpace($event)" [type]="show ? 'text' : 'password'"
                placeholder="Enter password">
              </ion-input>
              <div (click)="show=!show" slot="end" class="eye_icon">
                <ion-icon name="eye-off" *ngIf="!show"></ion-icon>
                <ion-icon name="eye" *ngIf="show"></ion-icon>
              </div>
            </ion-item>
            <section>
              <ion-button expand="block" [disabled]="!loginForm.valid" type="submit" class="btn"> Login</ion-button>
            </section>
          </ion-list>
        </form>
      </ion-card-content>
    </ion-card>

  
  
  </ion-content>
</ion-app>