<ion-header>
  <ion-toolbar color="#413E95">
    <div class="flex">
      <ion-img src="assets/images/logo.jpg"></ion-img>
      <ion-label class="logout" (click)="logout()">
        <ion-icon name="exit"></ion-icon>
        Logout
      </ion-label>
    </div>
    <h3 class="header">SREE VISALAM CHIT FUND LTD</h3>
    <h3 class="login-name">{{moneycoll_name}}</h3>
  </ion-toolbar>
</ion-header>

<ion-content class="dashboard-content">
  <ion-searchbar [(ngModel)]="terms"></ion-searchbar>

  <ion-list *ngFor="let v of details |search:terms">
    <ion-item (click)="goto(v)">
      <ion-label class="ion-text-wrap">
        <h3 class="id">{{ v.GrpMemberID }}</h3>
        <h3 class="name"> {{ v.MemberName }}</h3>
      </ion-label>
      <ion-label class="chit">No. of chits({{v.chitcount}})</ion-label>
    </ion-item>
  </ion-list>
</ion-content>